@model IEnumerable<ProjectGame.Models.Game>
@using ProjectGame.Models

@{
    ViewData["Title"] = "Game Box Home Page";
    var gameGroups = Model.Chunk(3);
}
<head>
    <!----------Home CSS---------->
    <link href="~/css/styleHome.css" rel="stylesheet" />
    <!----------icon---------->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<section>
    <div class="home-img">
        <img src="~/images/other/BackGround.jpg" alt="" />
    </div>
    <div class="platform-img">
        <img src="~/images/other/NSBackGround.jpg" alt="" style="width: 30%;flex-grow:1;" />
        <img src="~/images/other/PS5BackGround.jpg" alt="" style="width: 30%;flex-grow:1;" />
        <img src="~/images/other/XboxBackGround.jpg" alt="" style="width: 30%;flex-grow:1;" />
    </div>
    
    <hr class="my-4" />
    
    <h2 class="text-center mb-4">Recently Released Games</h2>
    <!----------Sliding Game Card---------->
    <div id="gameCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @for (int i = 0; i < gameGroups.Count(); i++)
            {
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <div class="d-flex justify-content-center gap-4">
                        @foreach (var game in gameGroups.ElementAt(i))
                        {
                            <div class="card shadow-sm h-100 w-25">
                                @if (game.DataFiles != null)
                                {
                                    <img src="/Games/GetImage/@game.ID" alt="@game.Title" class="card-img-top" style="object-fit:contain; height:300px;" />
                                }
                                else if (game.PlatformID == 1)
                                {
                                    <img src="~/images/noimages/PS5NoImage.jpg" alt="@game.Title" class="card-img-top" style="object-fit:contain; height:300px;" />
                                }
                                else if (game.PlatformID == 2)
                                {
                                    <img src="~/images/noimages/NSNoImage.jpg" alt="@game.Title" class="card-img-top" style="object-fit:contain; height:300px;" />
                                }
                                else
                                {
                                    <img src="~/images/noimages/XboxNoImage.jpg" alt="@game.Title" class="card-img-top" style="object-fit:contain; height:300px;" />
                                }
                                <div class="card-body text-center">
                                    <p class="card-title clamp-3-lines text-black" title="@game.Title" data-bs-toggle="tooltip" data-bs-placement="top">@game.Title</p>
                                    <p class="card-text text-black mb-1">@game.ReleaseDate.ToString("yyyy/MM/dd")</p>
                                    <p class="card-text text-primary fw-bold">@game.Price.ToString("C0")</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>

        <!----------Left and Right Arrows---------->
        <button class="carousel-control-prev" type="button" data-bs-target="#gameCarousel" data-bs-slide="prev">
            <span class="material-symbols-outlined">chevron_left</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#gameCarousel" data-bs-slide="next">
            <span class="material-symbols-outlined">chevron_right</span>
        </button>
    </div>

    <hr class="my-4" />


    <!----------Shopping Button---------->
    <div class="text-center mt-4">
        @if (!User.Identity.IsAuthenticated)
        {
            <a asp-area="Identity" asp-page="/Account/Combined" class="btn btn-primary btn-lg">
                Log In to start Shopping
            </a>
        }
        else if (User.IsInRole(SD.Role_Staff))
        {
            <a asp-controller="Games" asp-action="Index" class="btn btn-warning btn-lg">
                Staff Backend
            </a>
        }
        else if (User.IsInRole(SD.Role_Customer))
        {
            <a asp-controller="Store" asp-action="Index" class="btn btn-success btn-lg">
                Go Shopping
            </a>
        }
    </div>
</section>
