@model ProjectGame.Models.Game

@{
    ViewData["Title"] = "Game Details";
}

<head>
    <link rel="stylesheet" href="~/css/styleGame.css" asp-append-version="true" />
</head>


<section>
    <div class="row">
        <!---------- Aside Sidebar ---------->
        @await Html.PartialAsync("_GameAside")

        <!---------- Main Content---------->
        <div class="col-md-9">
            <h2>Game Details</h2>

            <hr class="my-3" />
            <div class="container">
                <div class="col-md-8">
                    <dl class="row">
                        <dt class="col-sm-5">Game Title</dt>
                        <dd class="col-sm-7">@Model.Title</dd>

                        <dt class="col-sm-5">Platform</dt>
                        <dd class="col-sm-7">@Model.Platform?.Name</dd>

                        <dt class="col-sm-5">Release Date</dt>
                        <dd class="col-sm-7">@Model.ReleaseDate.ToString("yyyy/MM/dd")</dd>

                        <dt class="col-sm-5">Price</dt>
                        <dd class="col-sm-7">@Model.Price.ToString("C0")</dd>

                        <dt class="col-sm-5">Cover Image</dt>
                        <dd>
                            @if (Model.DataFiles != null)
                            {
                                <img asp-append-version="true" src="/Games/GetImage/@Model.ID" alt="Cover Image" class="img-fluid mt-2" style="max-height: 300px;" />
                            }
                            else if (Model.PlatformID == 1)
                            {
                                <img asp-append-version="true" src="~/images/noimages/PS5NoImage.jpg" alt="Cover Image" class="img-fluid mt-2" style="max-height: 300px;" />
                            }
                            else if (Model.PlatformID == 2)
                            {
                                <img asp-append-version="true" src="~/images/noimages/NSNoImage.jpg" alt="Cover Image" class="img-fluid mt-2" style="max-height: 300px;" />
                            }
                            else
                            {
                                <img asp-append-version="true" src="~/images/noimages/XboxNoImage.jpg" alt="Cover Image" class="img-fluid mt-2" style="max-height: 300px;" />
                            }
                        </dd>
                    </dl>
                </div>
            </div>

            <!---------- Button ---------->
            <div>
                <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-outline-warning m-2" style="width:150px;">Edit</a>
                <a asp-action="Index" class="btn btn-outline-secondary m-2" style="width:150px;">Back to List</a>
            </div>
        </div>
    </div>
</section>


